OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_SINGLE_RESUME=
STRIPE_PRICE_ID_MONTHLY=
APP_SESSION_SECRET=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
APP_URL=https://resume-builder-v2-jaiyjariwala21.netlify.app
